@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-compose{
    background-color: #C2E7FF;
}
.rowSection:hover{
    background-color: #94a3b819;
}
.rowSection:focus-within,
.rowSection:active {
    border-bottom-width: 50%;
  border-bottom: 2px solid blue;
  color: blue !important;
  outline: none;
}
