@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-compose{
    background-color: #C2E7FF;
}
.rowSection:hover{
    background-color: #94a3b819;
}
.rowSection:focus-within,
.rowSection:active {
    border-bottom-width: 50%;
  border-bottom: 2px solid blue;
  color: blue !important;
  outline: none;
}
.notify{
    border-top:1px solid rgba(128, 128, 128, 0.272);
    font-weight: 600;
}
.notify:hover{
    box-shadow: 0px 0.5px 1px;
    cursor: pointer;
}
.plus-hover:hover{
    background-color:#3c3e4253;
    transition: 0.3s;
}